*{
  box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
  }
  
  @keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
      }
    50% {
      background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
      }
  }
  
  body {
    background: linear-gradient(to right, #8e1a54, #3d2faa);
    background-size: 200% 100%;
    animation:  7s ease infinite;
  }
  